node-red_example/example_2_ha_control.json.txt
[{"id":"cb0af9cd.08d31","type":"api-call-service","z":"58be55c.54ae72c","name":"Service call to Home Assistant","server":"26e09fb0.75782","service_domain":"","service":"toggle","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1614,"y":1160,"wires":[[]]},{"id":"43940072.13773","type":"switch","z":"58be55c.54ae72c","name":"BotPrefix !","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^!.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":1100,"wires":[["a65faa25.1267a"]]},{"id":"a65faa25.1267a","type":"change","z":"58be55c.54ae72c","name":"Split message based on spaces and get first 3 parts","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split($trim(payload), \" \", 3)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1040,"wires":[["3278ec0c.72725c"]]},{"id":"3278ec0c.72725c","type":"change","z":"58be55c.54ae72c","name":"Constructs entity_id, domain and service","rules":[{"t":"set","p":"payload[0]","pt":"msg","to":"$substring(payload[0], 1)","tot":"jsonata"},{"t":"set","p":"payload[1]","pt":"msg","to":"$substring(payload[0], 0) & \".\" & $string(payload[1])","tot":"jsonata"},{"t":"change","p":"payload[2]","pt":"msg","from":"on","fromt":"str","to":"turn_on","tot":"str"},{"t":"change","p":"payload[2]","pt":"msg","from":"off","fromt":"str","to":"turn_off","tot":"str"},{"t":"change","p":"payload[2]","pt":"msg","from":"null","fromt":"re","to":"toggle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1100,"wires":[["8d8e3b3a.76ffa"]]},{"id":"8d8e3b3a.76ffa","type":"template","z":"58be55c.54ae72c","name":"Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{   \n    \"domain\": \"{{payload.0}}\",\n    \"service\": \"{{payload.2}}\",\n    \"data\":{\"entity_id\":\"{{payload.1}}\"}\n}\n","output":"str","x":1383,"y":1161,"wires":[["cb0af9cd.08d31"]]},{"id":"5bc06411.7e173c","type":"switch","z":"58be55c.54ae72c","name":"Permissions","property":"memberRoleNames","propertyType":"msg","rules":[{"t":"cont","v":"Owner","vt":"str"},{"t":"cont","v":"Admin","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1010,"y":1100,"wires":[["43940072.13773"],["43940072.13773"]]},{"id":"447bd35e.1e3a9c","type":"discordMessage","z":"58be55c.54ae72c","name":"","token":"","x":820,"y":1100,"wires":[["5bc06411.7e173c"]]},{"id":"26e09fb0.75782","type":"server","z":"","name":"Home Assistant"}]