node-red_example/example_3_including_sensors.json.txt
[{"id":"cb0af9cd.08d31","type":"api-call-service","z":"58be55c.54ae72c","name":"Service call to Home Assistant","server":"26e09fb0.75782","service_domain":"","service":"toggle","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1702,"y":1140,"wires":[[]]},{"id":"43940072.13773","type":"switch","z":"58be55c.54ae72c","name":"BotPrefix !","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^!.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":736,"y":1080,"wires":[["a65faa25.1267a"]]},{"id":"a65faa25.1267a","type":"change","z":"58be55c.54ae72c","name":"Split message based on spaces and get first 3 parts","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split($trim(payload), \" \", 3)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1046,"y":1020,"wires":[["25f395e0.2c2afa"]]},{"id":"3278ec0c.72725c","type":"change","z":"58be55c.54ae72c","name":"Constructs entity_id, domain and service","rules":[{"t":"set","p":"payload[0]","pt":"msg","to":"$substring(payload[0], 1)","tot":"jsonata"},{"t":"set","p":"payload[1]","pt":"msg","to":"$substring(payload[0], 0) & \".\" & $string(payload[1])","tot":"jsonata"},{"t":"change","p":"payload[2]","pt":"msg","from":"on","fromt":"str","to":"turn_on","tot":"str"},{"t":"change","p":"payload[2]","pt":"msg","from":"off","fromt":"str","to":"turn_off","tot":"str"},{"t":"change","p":"payload[2]","pt":"msg","from":"null","fromt":"re","to":"toggle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1252,"y":1140,"wires":[["8d8e3b3a.76ffa"]]},{"id":"8d8e3b3a.76ffa","type":"template","z":"58be55c.54ae72c","name":"Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{   \n    \"domain\": \"{{payload.0}}\",\n    \"service\": \"{{payload.2}}\",\n    \"data\":{\"entity_id\":\"{{payload.1}}\"}\n}\n","output":"str","x":1492,"y":1140,"wires":[["cb0af9cd.08d31"]]},{"id":"5bc06411.7e173c","type":"switch","z":"58be55c.54ae72c","name":"Permissions","property":"memberRoleNames","propertyType":"msg","rules":[{"t":"cont","v":"Owner","vt":"str"},{"t":"cont","v":"Admin","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":556,"y":1080,"wires":[["43940072.13773"],["43940072.13773"]]},{"id":"7ec25cd4.d357f4","type":"api-current-state","z":"58be55c.54ae72c","name":"Get Sensors State","server":"26e09fb0.75782","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1382,"y":1080,"wires":[["c73380c2.150578"]]},{"id":"4d0c3cd6.f99084","type":"change","z":"58be55c.54ae72c","name":"Construct entity_id","rules":[{"t":"set","p":"payload[0]","pt":"msg","to":"$substring(payload[0], 1)","tot":"jsonata"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"$substring(payload[0], 0) & \".\" & $string(payload[1])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1182,"y":1080,"wires":[["7ec25cd4.d357f4"]]},{"id":"c73380c2.150578","type":"template","z":"58be55c.54ae72c","name":"Add unit measurement if available","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload}}} {{{data.attributes.unit_of_measurement}}}","output":"str","x":1632,"y":1020,"wires":[["366ca31.a03be5c"]]},{"id":"366ca31.a03be5c","type":"template","z":"58be55c.54ae72c","name":"Template Discord Message Embed","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n    \"embeds\": [\n        {\n            \"title\": \"{{data.attributes.friendly_name}}\",\n            \"description\": \"{{payload}}\",\n            \"color\": 131155,\n            \"timestamp\": \"{{data.last_changed}}\",\n            \"footer\": {\n                \"icon_url\": \"http://www.scalsys.com/png/clock-emoji-png/clock-emoji-png_345705.png\",\n                \"text\": \"Last Changed\"\n            },\n            \"thumbnail\": {\n                \"url\": \"https://www.home-assistant.io/images/supported_brands/home-assistant.png\"\n            },\n            \"author\": {\n                \"name\": \"Sensor Info\",\n                \"icon_url\": \"https://www.home-assistant.io/images/supported_brands/home-assistant.png\"\n            }\n        }\n    ]\n}","output":"json","x":1672,"y":1080,"wires":[["461ebcc3.7efc4c"]]},{"id":"461ebcc3.7efc4c","type":"http request","z":"58be55c.54ae72c","name":"Discord Webhook","method":"POST","ret":"txt","paytoqs":false,"url":"https://discordapp.com/api/webhooks/595584988481716264/ddqIZGwq56s5NO-fSehUvbjpOvowwh4EJuMt_RP3CBZmy3ECqOLhef0IGoMBWsg0PUxP","tls":"","proxy":"","authType":"basic","x":1922,"y":1080,"wires":[[]]},{"id":"25f395e0.2c2afa","type":"switch","z":"58be55c.54ae72c","name":"Check for sensor","property":"payload[0]","propertyType":"msg","rules":[{"t":"cont","v":"sensor","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":970,"y":1080,"wires":[["4d0c3cd6.f99084"],["3278ec0c.72725c"]]},{"id":"622d36d4.30c518","type":"discordMessage","z":"58be55c.54ae72c","name":"","token":"","x":386.08331298828125,"y":1079.5833740234375,"wires":[["5bc06411.7e173c"]]},{"id":"26e09fb0.75782","type":"server","z":"","name":"Home Assistant"}]