node-red_example/flows.json.txt
[{"id":"4986026.166f47c","type":"discordMessage","z":"58be55c.54ae72c","name":"","token":"","x":2060,"y":60,"wires":[["42d87ef4.c54b08"]]},{"id":"42d87ef4.c54b08","type":"switch","z":"58be55c.54ae72c","name":"What the message?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Kiotam Joined! Channel","vt":"str"},{"t":"cont","v":"Kiotam Left! Channel","vt":"str"},{"t":"cont","v":"Chaffni Joined! Channel","vt":"str"},{"t":"eq","v":"Kiotam Is Muted.","vt":"str"},{"t":"eq","v":"Kiotam Is Unmuted.","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":2280,"y":68,"wires":[[],[],["62f21bad.ceb4c4"],["c6685568.76968"],["45a6a4de.d94d04"]]},{"id":"4c0db669.fee018","type":"template","z":"58be55c.54ae72c","name":"Template Effect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\"color_name\":\"{{payload}}\"}\n}\n","output":"str","x":2645,"y":86,"wires":[["cc73ed7e.b38358"]]},{"id":"c6685568.76968","type":"change","z":"58be55c.54ae72c","name":"Set to red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2485,"y":86,"wires":[["4c0db669.fee018"]]},{"id":"cc73ed7e.b38358","type":"api-call-service","z":"58be55c.54ae72c","name":"Led strip On","server":"26e09fb0.75782","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.desk_leds\"}","mergecontext":"","output_location":"","output_location_type":"none","x":2815,"y":86,"wires":[[]]},{"id":"db989567.58a8f8","type":"template","z":"58be55c.54ae72c","name":"Template Effect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\"color_name\":\"{{payload}}\"}\n}\n","output":"str","x":2665,"y":126,"wires":[["1c0c90bd.f163d7"]]},{"id":"45a6a4de.d94d04","type":"change","z":"58be55c.54ae72c","name":"Set to blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2495,"y":126,"wires":[["db989567.58a8f8"]]},{"id":"1c0c90bd.f163d7","type":"api-call-service","z":"58be55c.54ae72c","name":"Led strip On","server":"26e09fb0.75782","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.desk_leds\"}","mergecontext":"","output_location":"","output_location_type":"none","x":2835,"y":126,"wires":[[]]},{"id":"62f21bad.ceb4c4","type":"time-range-switch","z":"58be55c.54ae72c","name":"","lat":"52.7","lon":"6.8","startTime":"11:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":2502,"y":40,"wires":[["70277d08.499efc"],[]]},{"id":"47ed6d37.e6fcc4","type":"api-call-service","z":"58be55c.54ae72c","name":"Mediaplayer GH Mini","server":"26e09fb0.75782","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.bedroom_kevin\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":3067,"y":36,"wires":[[]]},{"id":"9cabb34c.b32288","type":"template","z":"58be55c.54ae72c","name":"Template GH Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\"message\":\"{{payload}}\"}\n}\n","output":"str","x":2847,"y":36,"wires":[["47ed6d37.e6fcc4"]]},{"id":"70277d08.499efc","type":"change","z":"58be55c.54ae72c","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Chaffni Joined Discord","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":36,"wires":[["9cabb34c.b32288"]]},{"id":"26e09fb0.75782","type":"server","z":"","name":"Home Assistant"}]